#nav-title-id {
  font-family: 'Impact';
  cursor: pointer;
  font-size: 1.17em;
}

.chatFrame {
  width: 100% !important;
  height: 100% !important;
  border-radius: 8px;
}

/** Youtube Live Chat*/
.youtube {
  border: 1mm solid #c4302b;
}

/** Twitch Live Chat*/
.twitch {
  border: 1mm solid #6441a5;
}