<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- コンソール出力の設定 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Jettyのロガーレベルを変更 -->
    <logger name="org.eclipse.jetty" level="WARN" />

    <!-- 必要に応じて特定のJettyコンポーネントのログレベルを変更 -->
    <logger name="org.eclipse.jetty.server" level="INFO" />
    <logger name="org.eclipse.jetty.http" level="WARN" />

    <!-- プロジェクト固有のロガー設定 -->
    <logger name="io.github.k7t3" level="DEBUG" />

    <!-- ルートロガーの設定 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>